<div>
<%= notice %>
</div>

<h1>List of users</h1>

<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <button>Add user</button>
</form>

<hr>

<table border="1">
  <tr>

    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.username %>
    </td>

    <td>
      <%= 
      if user.private
        'Yes'
      else
        'No'
      end

      %>
    </td>

    
      <% if session.fetch(:user_id) != nil %>
      <% a = FollowRequest.where({ :sender_id => session[:user_id]}).where({ :recipient_id => user.id}).at(0) %>
        <% if a == nil %>
          <% if user.private == true %>
            <td>
              <form action="/insert_follow_request" method="post">
                <input type="hidden" name="query_recipient_id" value="<%= user.id %>">
                <input type="hidden" name="query_status" value="pending">


              <button>
                Follow
              </button>
              </form>
            </td>
          
          <% else %>
            <td>
              <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= user.id%>">
              <input type="hidden" name="query_status" value="accepted">
              <button>Follow</button>
              </form>
            </td>
          <% end %>
        
        <% else %>

          <% if a.status == "pending" %>
            <td>Request sent.<a href="/delete_follow_request/<%= a.id%>">Cancel</a ></td>
          <% else %>
            <td><a href="/delete_follow_request/<%= a.id%>">Unfollow</a ></td>
          <% end %>

        <% end %>

      
        
    <% end %>

    

    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
  
  <% end %>
</table>
